<div class="split">
	
	<div class="section no_padding fullscreen" style="width: 300px; overflow: hidden;">
		
		<div class="padded">
		
			<a href="#" onclick="localStorage.removeItem(`token`); location.reload();" style="vertical-align: middle;"><i data-feather="log-out"></i></a>
			<a href="#" onclick="load(`settings.ejs`);" style="vertical-align: middle; margin-left: 10px;"><i data-feather="settings"></i></a>
			<a href="#" onclick="load(`email.ejs`);" style="vertical-align: middle; margin-left: 10px;"><i data-feather="plus-square"></i></a>

			<h3 style="display: inline-block; margin-left: 20px; vertical-align: middle;">Inbox</h3>

		</div>
		
		<div class="list interactive" style="overflow: auto; max-height: 80%;">
			
			<% for (const email of await mi.inbox(token)) { %>

				<div class="email" style="position: relative;" data-id="<%- email._id %>">

					<h4><%- /*email.metadata.from.value[0].name ||*/ email.metadata.from.value[0].address %> &mdash; <%- email.metadata.subject || "No Subject" %></h4>
					
					<p class="sub"><%- new Date(email.metadata.date).toLocaleString() %> <br> <%- quotedPrintable.decode(email.metadata.preview) %>...</p>
	
				</div>

			<% } %>
			
		</div>
		
	</div>
	
	<div id="preview_box" class="section left_border no_padding" style="width: calc(100% - 300px); overflow: auto;">
		
		<div class="padded">

			<div id="mail_preview_actions" style="display: none; float: right;">
			
				<button id="reply">Reply</button>

			</div>

			<h2 id="preview_subject"></h2>
		
			<div style="display: none; max-height: 50px; overflow: auto;" id="preview_from_container">

				<span><strong style="margin-right: 10px;">FROM</strong> <code id="preview_from"></code> </span>

			</div> <br>

			<div style="display: none; max-height: 50px; overflow: auto;" id="preview_to_container">

				<span><strong style="margin-right: 35px;">TO</strong> <code id="preview_to"></code> </span>

			</div>
			<div style="display: none; max-height: 50px; overflow: auto;" id="preview_cc_container">

				<span><strong style="margin-right: 35px;">CC</strong> <code id="preview_cc"></code> </span>

			</div>

		</div>
		
		<br>

		<iframe id="preview_frame" sandbox="allow-popups allow-popups-to-escape-sandbox" style="border: none; width: 100%; /*height: 60%;*/ height: 100%; overflow: hidden;" class="padded">

		

		</iframe>

	</div>
	
</div>

<script>

	feather.replace();

</script>

<script data-once="inbox-load">

	let loading = false;
	let currentEmail;

	// (async () => {me = await mi.me(token);});

	function setPreview (html) {

		loading = true;
		document.getElementById("preview_frame").scrolling = "yes";
		document.getElementById("preview_frame").srcdoc = `<style>@import "https://fonts.googleapis.com/css?family=Roboto"; html, body {margin: 0; padding: 0; font-family: "Roboto";} /**::-webkit-scrollbar {width: 0px;}*/</style><base target="blank">${html}`;
		
		setTimeout(() => {

			if (loading) {
			
				document.getElementById("preview_frame").scrolling = "no";
				loading = false;

			}

		}, 500);

	}

	document.addEventListener("click", async event => {

		/**
		 * @type {Element}
		 */
		const target = event.target;

		if (!target) return;

		if (target.classList.contains("email") || (target.offsetParent && target.offsetParent.classList.contains("email"))) {

			if (document.querySelector(".email.hover")) document.querySelector(".email.hover").classList.remove("hover");

			document.getElementById("mail_preview_actions").style.display = "block";
			document.getElementById("preview_from_container").style.display = "block";
			document.getElementById("preview_to_container").style.display = "block";

			document.getElementById("preview_cc_container").style.display = "none";

			const email = target.classList.contains("email") ? target : target.offsetParent;

			currentEmail = await mi.email(token, email.getAttribute("data-id"));

			document.getElementById("preview_subject").innerText = currentEmail.data.subject || "No Subject";
			
			document.getElementById("preview_from").innerText = currentEmail.data.from.text;
			document.getElementById("preview_to").innerText = currentEmail.data.to.text;
		
			if (currentEmail.data.cc) {
				
				document.getElementById("preview_cc_container").style.display = "block";
				document.getElementById("preview_cc").innerText = currentEmail.data.cc.text;
				
			}

			email.classList.add("hover");
			document.getElementById("preview_box").scroll(0, 0);
			setPreview(quotedPrintable.decode(currentEmail.data.html || currentEmail.data.text));

		} else if (target.id === "reply") {

			const subject = document.getElementById("preview_subject").innerText;

			await load("email.ejs");

			// console.log(currentEmail.data.to)
			document.getElementById("subject").value = `Re: ${subject.replace(/re: /i, "")}`;
			document.getElementById("to").value = currentEmail.data.from.value.map(_ => _.address).join(", ");
			document.getElementById("cc").value = currentEmail.data.cc.value.map(_ => _.address).join(", ");

		}

	});

	document.getElementById("preview_frame").addEventListener("load", () => {

		if (!loading) return;

		document.getElementById("preview_frame").scrolling = "no";
		loading = false;

	});

	document.getElementById("preview_box").addEventListener("scroll", event => {

		// console.log(event);

		if (document.getElementById("preview_box").scrollTop > document.getElementById("preview_frame").offsetTop) {

			document.getElementById("preview_frame").scrolling = "yes";

		} else if (!loading) {

			document.getElementById("preview_frame").scrolling = "no";

		}

	});
	
</script>
